* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Product Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.scores {
    display: grid;
    grid-template-columns: auto auto;
}

.scores span {
    margin: 0 8px;
}

td {
    border: 1px solid #aaa;
    height: 6rem;
    width: 6rem;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

td:hover {
    /* box-shadow: 0px 0px 8px 1px #4078c022; */
    transform: scale(0.9);
    background-color: #4078c056;
}

table {
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0px 0px 8px 1px #ddd;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

.endgame {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14rem;
    height: 6rem;
    background-color: #5050fff0;
    border-radius: 4px;
    cursor: pointer;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 2rem;
}

button {
    outline: none;
    border: none;
    background-color: #ddd;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0px 0px 10px 1px #33333327;
}

.gh {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}